{% extends "account/base.html" %}
{% load material_form %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Agendamento" %}{% endblock %}

{% block inner %}
        <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp mdl-data-table__cell--non-numeric">
          <thead class="#cfd8dc blue-grey lighten-4">
          <th>Tp. Movimento</th>
          <th>Nr. Nota</th>
          <th>Dt. Emissao</th>
          <th class="mdl-data-table__cell--non-numeric" >Produto</th>
          <th class="mdl-data-table__cell--non-numeric">Quantidade</th>
          <th>Preço unitário</th>
          <th>Outros Custos</th>
          <th>Total</th>
          <th>Saldo</th>
          <th></th>
          </thead>
          <tbody>
          {% for item in items %}
            <tr class="item-form {% if item.saldo < 0 %}red-text{% endif %}">
                   <td>{% if item.invoice.transaction_kind == 'out'%}
                            SAIDA
                        {% elif item.invoice.transaction_kind == 'in' %}
                            ENTRADA
                        {% elif item.invoice.transaction_kind == 'eaj' %}
                            ENT. AJUSTE
                        {% elif item.invoice.transaction_kind == 'saj' %}
                            SAI. AJUSTE
                        {% endif %}
                   </td>
              <td>{{ item.invoice.pk }}</td>
              <td>{{ item.invoice.emissao|date:"d/m/Y" }}</td>
              <td>{{ item.title}}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unit_price }}</td>
              <td>{{ item.other_costs }}</td>
              <td>{{ item.total }}</td>
              <td>{{ item.saldo }}</td>
              <!--<td>{{ item.invoice.entradas }}</td>  -->
              <td class=""></td>

            </tr>
          {% endfor %}
          </tbody>
        </table>

{% endblock %}
